

<h2> Let us engineer a better world together!!!</h2>



<p>
    Mauli Group of Institutions (MGI), College of Engineering and Technology, Shegaon, is a highly commendable private institute, occupying a place of pride amongst the premier technical institutes of the Vidarbha region of Maharashtra, India. 
    The society was established in the year 1987. 
    This institute is affiliated to Sant Gadge Baba Amravati University, Amravati. 
    The institute is all set to march towards the pinnacle of success through its mission and vision in the field of engineering education of high caliber. 
    According to Indian History, 'Mauli’ is the name of Sant Dnyaneshwar. Sant Dnyaneshwar was a famous saint of India who wrote the holy book ‘Dnyaneshwari’. 
    It is believed that HE fashioned the state of Maharashtra with his rare writing skill. The Trust adopted this name with a vision to develop engineers of high potential, who could take up any challenges of any type of an engineering job and make it a grand success, guided by originality and professionalism. 
    It is believed that an engineer should be able to write his own lines of success.

</p>


<h3>Founded: 1987 </h3>





<!--String interpolation throws an error. declaring objects with string interpolation doesn't work

    <p> Current Date is {{new Date()}}</p>-->

    <p> Current Date is {{convertDate()}}</p>  






<hr>

