<header>

    <div class='container'>

        <!--<a href="www.google.com">Google

        <!href doesn't work in Angular Framework. We use routerLink.

        The routerLink is the selector for the RouterLink directive that turns

        user clicks into router navigations.

         It's another of the public directives in the RouterModule.

        -->

        <a routerLink="/" class="logo">{{appTitle}}</a>

    



        <nav>

            <ul>
            
            <li><a routerLink="/">Home</a></li>

            <li><a routerLink="/about">About</a></li>

            <li><a routerLink="/login">Login</a></li>

        
            <li><a routerLink="/contact">Contact</a></li>

           
           
            

           
            
            
            
           
            
            


            </ul>

        </nav>

    </div>

</header>
